*{
margin:0;
padding:0;
box-sizing: content-box;
}
/* stylizacja całej strony */
div.wrap{
margin:0 auto;
margin-top:30px;
max-width:90vw;
}

/* Górne menu */
div.wrap div.nav_top{
display:flex;
flex-direction:row;
}

div.nav_top div.logo{
width:200px;
height:100px;
}

div.nav_top div.logo img.logo{
width:180px;
height:100px;
}

/* Dolne menu */

div.wrap div.nav_bottom nav ul{
display:flex;
flex-direction:row;
list-style:none;
justify-content:space-between;
border:1px solid rgb(217, 217, 217);
height:50px;
line-height:50px;
}

div.wrap div.nav_bottom nav ul li{
width:100%;
border-right:1px solid rgb(235, 235, 235);
}

div.wrap div.nav_bottom nav ul li:hover{
background-color: rgba(217, 217, 217, 0.4);
}

div.wrap div.nav_bottom nav ul li a{
width:100%;
height:100%;
display:block;
text-decoration:none;
color:black;
font-weight:bold;
text-transform: uppercase;
text-align:center;
}

