*{
margin:0;
padding:0;
box-sizing: content-box;
}
/* stylizacja całej strony */
div.wrap{
margin:0 auto;
margin-top:20px;
max-width:90vw;
min-height: 100vh;
}

/* przyciski logowania */
div.wrap div.log_form{
text-align:right;
margin-bottom:10px;
}
div.wrap div.log_form button{
font-size:18px;
font-weight:bold;
box-shadow: 0 1px 1px black;
background-color: rgb(255, 0, 0);
padding:5px 10px;
border-radius:15px;
margin-right:10px;
}

div.wrap div.log_form button a{
color:white;
font-size:15px;
text-decoration:none;
}

/* Górne menu logo */
div.wrap div.nav_top{
display:flex;
flex-direction:row;
}

div.nav_top div.logo{
width:200px;
height:100px;
}
div.nav_top div.logo img.logo{
width:180px;
height:100px;
}

div.wrap div.nav_top div.top_right{
width:100%;
display:flex;
flex-direction: row;
justify-content:flex-end;
}

/* wyszukiwarka */

div.top_right div.search{
margin-right:40px;
padding-top:8px;
}

div.top_right div.search input{
width:300px;
height: 30px;
border-radius:10px;
background-color: rgb(234, 234, 234);
}


div.top_right div.search input::placeholder{
padding-left:20px;
}

div.top_right div.search button.search{
 background-color: rgb(255, 0, 0);
 color: white;
 padding:10px 25px;
 border-radius:15px;
 font-size:18px;
 font-weight:bold;
 box-shadow: 0 1px 1px black;
}


/* Menu górne-prawe */

nav.top ul.menu_top{
display:flex;
list-style:none;
width:100%;
padding:10px;
}


nav.top ul.menu_top li{
padding:10px;

}

nav.top ul.menu_top li a{
width:100%;
height:100%;
display:block;
text-decoration:none;
color:black;
font-weight:bold;
text-transform: uppercase;
text-align:center;
}



/* Dolne menu */

div.wrap div.nav_bottom nav ul.menu_bottom{
display:flex;
flex-direction:row;
list-style:none;
justify-content:space-between;
height:50px;
line-height:50px;
border:1px solid rgb(217, 217, 217);
box-shadow: 1px 1px 1px black;
}

div.wrap div.nav_bottom nav ul.menu_bottom li{
width:100%;
border-right:1px solid rgb(235, 235, 235);
}

div.wrap div.nav_bottom nav ul.menu_bottom li:hover{
background-color: rgba(217, 217, 217, 0.4);
}

div.wrap div.nav_bottom nav ul.menu_bottom li a{
width:100%;
height:100%;
display:block;
text-decoration:none;
color:black;
font-weight:bold;
text-transform: uppercase;
text-align:center;
}

/* HEADER -> Slider  */


header{
margin-top:10px;
width:100%;
height:54vh;
border:1px solid rgb(217, 217, 217);
box-shadow: 1px 1px 1px black;
}

/* Strona główna  */

div.main{
display:flex;
min-height:1240px;
flex-grow:4;
}

/* Ogłoszenia */
div.main div.left_main{
width:70%;
min-height:70vh;
display:flex;
flex-direction:row;
flex-wrap:wrap;
flex-grow:1;
}

div.main div.left_main ul{
display:flex;
flex-wrap:wrap;
width:95%;
margin:25px 10px;
height: 50px;
list-style:none;
}

ul.left_main li{
width:350px;
height:270px;
border:2px solid rgb(217, 217, 217);
box-shadow: 2px 2px 1px black;
margin: 16px 10px;
}

ul.left_main li div.title{
font-size:19px;
padding:5px;
}
ul.left_main li div.photo{
width:351px;
height:239px;
margin: 0 auto;
}

ul.left_main li div.photo img{
width:100%;
height:100%;
}


div.main div.right_main{
margin-top:15px;
margin-left:2%;
min-height: 70vh;
width:27%;
}

div.main div.right_main div.element{
height:500px;
border:1px solid rgb(217, 217, 217);
box-shadow: 1px 1px 1px black;
}
div.main div.right_main div.element:nth-of-type(1){
margin-top:20px;
margin-bottom:20px;
}


/* Strona Kontakt */




/* Strona rejestracji */

div.register{
width:280px;
line-height:30px;
margin: 10% auto;
border: 1px solid rgb(107, 100, 100);
padding:15px;
font-weight:bold;
}


input.username_register{
border:1px solid rgb(255, 0, 0);
box-shadow: 1px 1px 1px black;
margin-left:5px;
}
input.first{
margin-left:12px;}

div.register button{
color:white;
font-weight:bold;
box-shadow: 0 1px 1px black;
background-color: rgb(255, 0, 0);
padding:5px 10px;
border-radius:10px;
margin: 8px 30% 0;
}

/* End */

/* Strona kontakt */

div.form{
margin:80px auto;
width:500px;
}

form.contact{
display:flex;
flex-direction:column;
}

button.contact{
color:white;
font-weight:bold;
box-shadow: 0 1px 1px black;
background-color: rgb(255, 0, 0);
padding:7px 15px;
border-radius:10px;
font-size:18px;
margin:8px 0 0 85%;
}

/*Stopka*/
footer{
height:8vh;
border:1px solid rgb(217, 217, 217);
box-shadow: 1px 1px 1px black;
margin-top:20px;
margin-bottom:10px;
}