{% extends 'basic.html' %}
{% load static %}
{% block title %} Witaj użytkowniku {% endblock %}


{% block body %}
    <div class="wrap">
        <div class="log_form">
            {% if user.is_authenticated %}
                Witaj: <b>{{user.name}}</b> <button class="logout">   <a href="/logout/">wyloguj się</a></button>
           {% else %}
         <button class="login"> <a href="/login/">zaloguj się</a> </button><button class="register">   <a href="/register/">rejestracja</a></button>
            {% endif %}
            </div>
        <div class="nav">
            <div class="nav_top">
               <div class="logo"><img src="{% static 'gazeta.png' %}" alt="logo" class="logo"></div>
                <div class="top_right">
                    <div class="search">
                     <form action="">
                           <input type="text" placeholder="Szukaj...">
                            <button class="search">Szukaj</button>
                      </form>
                   </div>

                    <nav class="top">
                      <ul class="menu_top">
                          <li><a href=""><i class="fas fa-heartbeat " style="margin-right:10px; font-size:20px; color:red;"></i>sympatia</a></li>

                          <li><a href=""><i class="fas fa-shopping-basket "style="margin-right:10px; font-size:20px; color:red;" ></i>zakupy</a></li>

                          <li><a href=""><i class="fas fa-gamepad "style="margin-right:10px; font-size:20px; color:red;"></i>gry</a></li>

                          <li><a href=""><i class="fas fa-phone-volume" style="margin-right:10px; font-size:20px; color:red;"></i>Kontakt</a></li>
                      </ul>
                     </nav>
                </div>
            </div>

            <div class="nav_bottom">
                <nav class="bottom">
                    <ul class="menu_bottom">
                         <li><a href="{% url 'wiadomosci' %}">wiadomości</a></li>
                         <li><a href="{% url 'sport' %}">sport</a></li>
                         <li><a href="{% url 'biznes' %}">biznes</a></li>
                         <li><a href="{% url 'regionalne' %}">regionalne</a></li>
                         <li><a href="{% url 'kultura' %}">kultura</a></li>
                         <li><a href="{% url 'styl_zycia' %}">styl życia</a></li>
                         <li><a href="{% url 'technologie' %}">technologie</a></li>
                         <li><a href="{% url 'motoryzacja' %}">motoryzacja</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <header>
            <div class="slider"></div>
        </header>

        <div class="main">
            <div class="form">
                 <form method="post">
                     {% csrf_token %}
                     {{ form }}
                     <div class="form-actions">
                     <button type="submit">Send</button>
                     </div>

                 </form>
            </div>
        </div>

        <div class="advertising">

        </div>

        <footer>

        </footer>
    </div>

{% endblock %}